---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Use @import for compatibility with GitHub Pages (libsass)
@import "base";

// Import light theme and include its variables first
@import "hacker";
@include theme();

// Then import dark theme and include inside media query
@import "hacker";
@media (prefers-color-scheme: hacker) {
  @include theme();
}